@model int
@{
    ViewBag.Title = "Спасибо!:)";
}
<h2>Оформление окончено!</h2>
<p>Спасибо за ваш заказ! Номер заказа: @Model</p>
<p>
    Как насчет того, чтобы купить еще товаров?:)
    @Html.ActionLink("store","Index", "Home")
</p>

