@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">Аккаунт заблокирован</h1>
    <h2 class="text-error">Попробуйте позже</h2>
</hgroup>
