@{
    ViewBag.Title = "Контакты";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <address>
        Украина<br />
        Харьков, ул. Сумская 48<br />
        <abbr title="Телефон">Телефон</abbr>
        +380123456789
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Потдержка:</strong>   <a href="mailto:admin@gmail.com">admin@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Маркетинг:</strong> <a href="mailto:admin@gmail.com">admin@gmail.com</a>
    </address>
</div>