@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <img src="~/imgs/WordPress-plugins.jpg" class="img-responsive">
    <div style="text-align: center; margin: 10px; font-family: FontAwesome ; font-size: 30px;   ">Лучшие плагины для WordPress</div>
</div>

