@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверье вашщу почту, мы отправили инструкции по востонавлению пароля.
    </p>
    <p class="text-danger">
        А вообще, можно просто нажать <a href="@ViewBag.Link">сюда</a>.
    </p>
</div>

